PORT=3000
NODE_ENV=development

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=kgm_rental

DB_SYNCHRONIZE=false
DB_RUN_MIGRATIONS=true
DB_SEED_REFERENCE=true
